<div class="body-container">
    <div class="loginContainer">
        <span class="loginLogo"></span>
        <div class="login-head">
            <h1>sign in</h1>
            <p>Lorem Ipsum is simply dummy text of the printing and type</p>
        </div>
        <div class="login-form">
            <form action="">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput placeholder="USERNAME">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <mat-form-field>
                            <input matInput placeholder="PASSWORD">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-12">
                        <button mat-raised-button class="custom-btn">SIGN IN</button>
                    </div>
                    <div class="col-sm-12 text-center">
                        <small>With this “Login”, You accept the <a href="#">3CMT End User Agreement</a></small>
                    </div>
                </div>
                    
            </form>
        </div>
    </div>
</div>
